.aside{
    width: 30%;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    height: 100%;
    @media(max-width: 768px){
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }
    .aside_title{
        margin-bottom: 2rem;
        .aside_title_h2{
            font-size: 1.5rem;
        }
    }
    .aside_products{
        .aside_products_table{
            overflow-x: scroll;
            .aside_products_tr{
                text-align: left;
                width: 33.33%;
                .aside_products_tr_th:last-child{
                    text-align: right
                }
                .aside_products_tr_td:first-child{
                    width: 5%;
                    .aside_products_tr_td_img{
                        width: 3rem;
                        height: 3.5rem;
                    }
                }
                .aside_products_tr_td{
                    width: 80%;
                    padding: 0.5rem 0.5rem 1rem 0rem;
                    font-size: 0.8rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-overflow: hide;
                }
                .aside_products_tr_td:last-child{
                    width: 15%;
                    font-size: 0.9rem;
                    padding: 0.5rem 0rem 1rem 0rem;
                    text-align: right;
                }
            }
        }
    }
    .aside_total{
        margin-top: 1rem;
        .aside_total_p{
            font-weight: 700;
        }
    }
    .aside_buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        .aside_buttons_button{
            width: 14rem;
            margin-bottom: 0.8rem;
            border-radius: 1rem;
            font-size: 0.9rem;
            background-color: #0071e3;
            color: #ffffff;
            border: none;
            padding: 0.5rem 0rem;
            transition: all .1s ease-in-out;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            @media(max-width: 768px){
                width: 20rem;
            }
            @media(max-width: 576px){
                width: 100%;
            }
            &:hover{
                background-color: #147ce5;
                transition: all .1s ease-in-out;
            }
            &:active{
                transform: scale(.99);
                transition: all .1s ease-in-out;
            }
        }
        .aside_buttons_p{
            color: #0a84ff;
            font-size: 0.9rem;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}