.asideProduct{
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin: 1rem auto;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    .asideProduct_img{
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1rem;
    }
    .asideProduct_div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .asideProduct_h3{
            text-transform: capitalize;
            margin-bottom: 0.5rem;
            font-size: 1rem;
            font-weight: 700;
        }
        .asideProduct_p{
            margin: 0rem 0rem 0.2rem 0rem;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
}