.asideProduct{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    padding: 0.5rem;
    height: 6rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    .asideProduct_div{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        cursor: pointer;
        .asideProduct_div_img{
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
        }
        .asideProduct_div_div{
            .asideProduct_div_div_h3{
                text-transform: capitalize;
                margin: 0rem;
                font-size: 0.8rem;
                font-weight: 700;
            }
            .asideProduct_div_div_p{
                margin: 0rem;
                font-size: 0.8rem;
                width: 10rem;
            }
        }
    }
    .asideProduct_div:active{
        transform: scale(.95);
    }
    .asideProduct_button{
        background-color: #005691;
        color: #ffffff;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        margin: 0rem 0.5rem;
        cursor: pointer;
    }
    .asideProduct_button:active{
        transform: scale(.95);
    }
}