.fas.fa-times.fa-2x.closeMenu{
    display: none;
    color: #ffffff;
    text-align: center;
    padding-bottom: 1rem;
    cursor: pointer;
}



@media(max-width: 992px){
    .fas.fa-times.fa-2x.closeMenu{
        display: block;
        width: 2rem;
        margin: auto;
    }
    .fas.fa-times.fa-2x.closeMenu:active{
        transform: scale(.95);
    }
}