.fas.fa-times.fa-2x.closeMenu{
    display: none;
    color: #005691;
    text-align: center;
    cursor: pointer;
    width: 2rem;
    margin: 0rem auto 1rem auto;
}

@media(max-width: 992px){
    .fas.fa-times.fa-2x.closeMenu{
        display: block; 
    }
    .fas.fa-times.fa-2x.closeMenu:active{
        transform: scale(.95);
    }
}