.modalOrderContent{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #E8F1F5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 10;
    padding: 1rem;
    border-radius: 0.5rem;
    .modalOrderContent_close{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1rem;
        .modalOrderContent_close_p{
            font-size: 2rem;
            cursor: pointer;
            transition: all .15s ease-in-out;
            &:hover{
                transition: all .15s ease-in-out;
                transform: scale(1.05);
            }
        }
    }
    .modalOrderContent_header{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2.5rem;
        @media(max-width: 768px){
            flex-direction: column;
            padding-bottom: 1.5rem;
        }
        .modalOrderContent_header_main{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            @media(max-width: 768px){
                justify-content: center;
                align-items: center;
                padding-bottom: 1.5rem;
            }
        }
        .modalOrderContent_header_div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .modalOrderContent_header_div_button{
                background-color: #0071e3;
                color: #ffffff;
                border: none;
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                font-weight: 500;
                font-size: 1rem;
                width: 100%;
                transition: all .1s ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: #147ce5;
                    transition: all .1s ease-in-out;
                }
                &:active{
                    transform: scale(.99);
                    transition: all .1s ease-in-out;
                }
            }
            .modalOrderContent_header_div_p{
                font-size: 0.8rem;
                padding-top: 0.2rem;
                cursor: pointer;
                &:hover{
                    text-decoration: underline
                }
            }
        }
    }
    .modalOrderContent_content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: scroll;
    }
}