.asideProduct{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    margin: 1rem auto;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.25rem;
    padding: 0.5rem;
    .asideProduct_button{
        background-color: #005691;
        color: #ffffff;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        font-weight: 500;
        margin: 0rem auto 0.5rem auto;
        cursor: pointer;
    }
    .asideProduct_div{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        cursor: pointer;
        .asideProduct_div_img{
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
        }
        .asideProduct_div_div{
            .asideProduct_div_div_h3{
                text-transform: capitalize;
                margin-bottom: 0.5rem;
                font-size: 1rem;
                font-weight: 700;
            }
            .asideProduct_div_div_p{
                margin: 0rem 0rem 0.2rem 0rem;
                font-size: 0.9rem;
                font-weight: 500;
            }
        }
    }
}