.product{
    width: 15rem;
    // border: 1px solid black;
    background-color: #ffffff;
    border-radius: 0.25rem;
    margin: 1rem;
    .product_img{
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .product_h3{
        color: #000000;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        margin: 0rem 0.5rem 0.5rem 0.5rem;
    }
    .product_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0rem 0.5rem 0.5rem 0.5rem;
        .product_div_p{
            font-weight: 700;
        }
        .product_div_button{
            background-color: #005691;
            color: #ffffff;
            border: none;
            border-radius: 0.25rem;
            padding: 0.5rem;
            font-weight: 500;
            cursor: pointer;
        }
    }
}